.mini-header {
  background: #fff;
  border-bottom: 1px solid var(--line);
}
.mini-header.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
.mini-header.sticky.blurred {
  background: rgba(255, 255, 255, 0.86);
  backdrop-filter: blur(10px);
}

.mini-header-inner {
  margin: 0 auto;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
